
/*
from http://www.colourlovers.com/palette/4542224/Crash_into_Me
*/
$dark:        #373d3e;
$light:       #fff;
$gray-light:  #eaeded;
$gray-mid:    #d5dbdb;
$gray-mid2:   #aab7b8;
$gray-dark:   #3e3e3e;
$gray-dark2:  #383838;
$orange:      #fdac0b;
$orange-dark: #e29a0f;
$red:         #ee046c;
$red-dark:    #d60761;


$ease-standard:   cubic-bezier(.4,0,.2,1);
$ease-even:       cubic-bezier(.4,0,.6,1);

$sans-serif: 'sofia-pro', sans-serif;
$serif: 'freight-text-pro', serif;
