@import 'src/assets/vars';

body {
  font: 20px/1.33 $sans-serif; // serif "freight-text-pro"
  margin: 0;
  padding: 0;
  color: $dark;
}

.page.default {

  .page-content {
    margin: 0 40px;
    .full-width { margin-left: -40px; margin-right: -40px; }

  }
}
