body {
  font: 20px/1.33 "sofia-pro", monospace; // serif "freight-text-pro"
  margin: 0;
  padding: 0;
  color: #2b2b2b;
}

.page.default {

  .page-content {
    margin: 0 40px;
    .full-width { margin-left: -40px; margin-right: -40px; }

  }
}
/*
black:       #2b2b2b;
light gray:  #eaeded;
mid gray:    #d5dbdb;
dark gray:   #3e3e3e;
dark gray2:  #383838;
orange:      #fdac0b;
dark orange: #e29a0f;
red:         #ee046c;
dark red:    #d60761;
*/
